/* You can add global styles to this file, and also import other style files */
@import "assets/theme/task-theme.scss";

.mt-2 {
  margin-top: 2px;
}
.mt-20 {
  margin-top: 20px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
